* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: aliceblue;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background-image: linear-gradient(to right, rgb(14, 10, 63), rgb(0, 0, 0));
}

nav {
  display: flex;
  flex-direction: row;
}

li {
  list-style: none;
  padding-left: 18px; 
}

li a {
  text-decoration: none;
}

a:hover {
  color: rgb(89, 133, 230);
}

/*  These selectors are for the scrollbar */

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: rgb(9, 4, 29);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item1 {
  display: flex;
  flex: 2;
}

.flex-item2 {
  display: flex;
  flex: 1;
}
/* This is creating a break in the HTML so that the flex item can move onto a new line */
.break {
  flex-basis: 100%;
  width: 0;
}

.flex-item3 {
  display: flex;
  height: 30vh;
}

#about-me {
  background-color: rgb(2, 2, 2);
  height: 94vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#about-me h2 {
  padding-bottom: 15px;
}

#about-me p {
  width: 50%;
  text-align: center;
}

#my-work {
  background-color: rgb(243, 243, 243);
  flex: 1;
}

.my-work-container {
  background-image: linear-gradient(to right, rgb(14, 10, 63), rgb(0, 0, 0));
  display: flex;
  flex: 1;
  padding: 3rem; 
}

.my-work-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
}

.personal-photo img {
  height: 94vh;
  width: auto;
  object-fit: cover;
}

.catGif {
  width: auto;
  height: 100%;
  overflow: hidden;
  padding: 0;
}