* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: aliceblue;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background-image: linear-gradient(to right, rgb(14, 10, 63), rgb(0, 0, 0));
}

nav {
  display: flex;
  flex-direction: row;
}

li {
  list-style: none;
  padding-left: 18px; 
}

li a {
  text-decoration: none;
}

a:hover {
  color: rgb(89, 133, 230);
}

/*  These selectors are for the scrollbar */

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: rgb(9, 4, 29);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-container2 {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
}

#about-me {
  background-color: rgb(2, 2, 2);
  height: 94vh;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#about-me h2 {
  padding-bottom: 15px;
}

#about-me p {
  width: 50%;
  text-align: center;
}

img {
  height: 94vh;
  width: 100%;
}
