header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  background-image: linear-gradient(to right, rgb(14, 10, 63), rgb(0, 0, 0));
  width: 100%;
  position: fixed;
}

li {
  list-style: none;
  display: inline;
  padding-left: 18px;
}

li a {
  text-decoration: none;
}

a:hover {
  color: rgb(89, 133, 230);
}

/*  These selectors are for the scrollbar */

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: rgb(9, 4, 29);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

#about-me {
  background-color: rgb(2, 2, 2);
  display: flex;
  flex: 2;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#about-me h2 {
  padding-bottom: 15px;
}

#about-me p {
  width: 50%;
  text-align: center;
}

.personal-photo {
  display: flex;
  flex: 1;
}

.personal-photo img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

/* This is creating a break in the HTML so that the flex item can move onto a new line */
.break {
  flex-basis: 100%;
  width: 0;
}

.projects {
  background-image: linear-gradient(to right, rgb(14, 10, 63), rgb(0, 0, 0));
  flex: 1;
  padding: 1rem;
}

.project-content {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.project-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 4rem;
}

.project-text p {
  text-align: center;
  padding-top: 2rem;
}

.project-image {
  width: 450px;
  height: 100%;

}

.project-image:hover {
  opacity: .5;
}

.contact-me-container {
  background-color: black;
  flex: 1;
  padding: 3rem;
  justify-content: center;
}

.contact-me-container h2 {
  text-align: center;
  margin-bottom: 3rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
}

input {
  padding-top: .5rem;
  padding-bottom: .5rem;
  text-align: left;
  align-self: center;
  width: 50%;
  color: black;
}

textarea {
  width: 50%;
  align-self: center;
  color: black;
}

.contact-me-container button {
  color: black;
  display: block;
  text-align: center;
  align-self: center;
  width: 90px;
  margin-top: 1rem;

}

.social-links {
  display: flex;
  margin-top: 1rem;
  justify-content: center;

}

@media only screen and (max-width: 810px) {
  #about-me {
    display: flex;
    flex: 1 0 100%;
    flex-wrap: wrap;
  }

  .personal-photo {
    display: flex;
    flex: 1 0 100%;
    flex-wrap: wrap;

  }

  .project-content {
    display: block;
    text-align: center;
  }
}

@media only screen and (max-width: 465px) {
  #about-me {
    display: flex;
    flex: 1 0 100%;
    flex-wrap: wrap;
  }
  #about-me h2 {
    text-align: center;
  }

  .personal-photo {
    display: flex;
    flex: 1 0 100%;
    flex-wrap: wrap;

  }

  .project-image {
    width: 100%;
  }

  input, textarea {
    width: 100%;
  }

}